*{
    padding: 0;
    margin: 0;
    text-align: center;
}
nav ul li{
    margin-top: 10px;
    display: inline-block;
    font-size: 1.3em;
    color: rgb(32, 248, 165);
    padding: 5px;
}
a{
    margin: 10% 0;
    padding: 2px;
    cursor: pointer;
}
a :hover{
    transition: 1s ;
    color: black;
    background-color: rgb(32, 248, 190);
}